{{ define "main" }}
  {{ $groupByYear := .Params.groupByYear | default (site.Params.list.groupByYear | default false) }}

  <header>
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    {{ with .Description }}
      <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400">
        {{ . }}
      </div>
    {{ end }}
  </header>

  {{ $allPages := where .Site.RegularPages "Type" "in" site.Params.mainSections }}

  <section class="space-y-10 w-full mt-8">
    {{ if $groupByYear }}
      {{ range (.Paginate ($allPages.GroupByDate "2006")).PageGroups }}
        <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
          {{ .Key }}
        </h2>
        {{ range .Pages }}
          {{ partial "article-link/simple.html" . }}
        {{ end }}
      {{ end }}
    {{ else }}
      {{ range (.Paginate $allPages).Pages }}
        {{ partial "article-link/simple.html" . }}
      {{ end }}
    {{ end }}
  </section>

  {{ partial "pagination.html" . }}
{{ end }}
